/* Smartphone Screens */
@media only screen and (max-width: 640px) {
    body {
        padding: 15% 2%;
    }

    .navbar {
        background-color: white;
        padding: 1% 3%;
    }

    .collapse {
        justify-content: end;
    }

    /* More Case Studies */
    .case-study .row:hover {
        transform: scale(1.02);
        transition: 1s;
        background-color: whitesmoke;
    }

    .case-study .row {
        margin-bottom: 5%;
    }

    .case-study img {
        width: 100%;
        height: 100%;
    }

    .card-img-top {
        object-fit: cover;
        height: 200px;
        overflow: hidden;
    }

    .photo-gallery-mobile img {
        width: 100%;
        height: 100%;
    }

    .first-suggestion, .photo-gallery {
        display: none;
    }
}

/* iPad Screens */
@media only screen and (min-width: 641px) and (max-width: 991px) {
    body {
        padding: 10% 2%;
    }

    .navbar {
        background-color: white;
        padding: 1% 3%;
    }

    .collapse {
        justify-content: end;
    }

    /* More Case Studies */
    .case-study .row:hover {
        transform: scale(1.02);
        transition: 1s;
        background-color: whitesmoke;
    }

    .case-study .row {
        margin-bottom: 5%;
    }

    .case-study img {
        width: 100%;
        height: 100%;
    }

    .card-img-top {
        object-fit: cover;
        height: 200px;
        overflow: hidden;
    }

    .photo-gallery-mobile img {
        width: 100%;
        height: 100%;
    }

    .first-suggestion, .photo-gallery {
        display: none;
    }
}

/* Smaller Laptop Screens */
@media only screen and (min-width: 991px) and (max-width: 1280px) {
    body {
        padding: 10% 2%;
    }

    .navbar {
        background-color: white;
        padding: 1% 3%;
    }

    .collapse {
        justify-content: end;
    }

    .collapse .nav-item {
        margin: 0px 10px;
    }

    /* More Case Studies */
    .case-study .row:hover {
        transform: scale(1.02);
        transition: 1s;
        background-color: whitesmoke;
    }

    .case-study .row {
        margin-bottom: 5%;
    }

    .case-study img {
        width: 100%;
        height: 100%;
    }

    .card-img-top {
        object-fit: cover;
        height: 200px;
        overflow: hidden;
    }

    .photo-gallery img {
        width: 100%;
        height: 100%;
    }

    .photo-gallery-mobile {
        display: none;
    }
}

/* Regular Laptops and Television Screens */
@media only screen and (min-width: 1281px) {
    body {
        padding: 8% 3%;
    }

    .navbar {
        background-color: white;
        padding: 1% 3%;
    }

    .collapse {
        justify-content: end;
    }

    .collapse .nav-item {
        margin: 0px 10px;
    }

    /* More Case Studies */
    .case-study .row:hover {
        transform: scale(1.02);
        transition: 1s;
        background-color: whitesmoke;
    }

    .case-study .row {
        margin-bottom: 5%;
    }

    .case-study img {
        width: 100%;
        height: 100%;
    }
    
    .card-img-top {
        object-fit: cover;
        height: 250px;
        overflow: hidden;
    }

    .photo-gallery img {
        width: 100%;
        height: 100%;
    }

    .photo-gallery-mobile {
        display: none;
    }
}