/* Smartphone Screens */
@media only screen and (max-width: 640px) {
    /* Template */
    body {
        padding: 20% 5%;
    }

    /* Navigation Bar */
    .navbar {
        background-color: white;
    }

    .navbar hr {
        width: 100px;
        transition: width 1s;
    }

    .nav-link:hover {
        font-weight: bolder;

        hr {
            border-top: 2px solid #0F0F0F;
            width: 150px;
        }
    }

    /* Contact */
    .contact {
        margin: auto;
    }

    .contact-icon {
        width: 40px;
        height: 40px;
    }

    /* Case Studies */
    .case-study .row:hover {
        transform: scale(1.02);
        transition: 1s;
        background-color: whitesmoke;
    }

    .case-study .row {
        margin-bottom: 5%;
    }

    .case-study img {
        width: 100%;
        height: 100%;
    }

    /* Blog */
    .blog img {
        width: 100%;
        height: 100%;
    }

    .blog .row {
        margin-bottom: 5%;
    }

    .blog-link .row:hover {
        transform: scale(1.02);
        transition: 1s;
        background-color: whitesmoke;
    }

    .experience, .case-studies, .blog {
        margin-top: 10%;
    }

    .main-view {
        display: none;
    }
}

/* iPad Screens */
@media only screen and (min-width: 641px) and (max-width: 991px) {
    /* Template */
    body {
        padding: 15% 5%;
    }

    /* Navigation Bar */
    .navbar {
        background-color: white;
    }

    .navbar hr {
        width: 100px;
        transition: width 1s;
    }

    .nav-link:hover {
        font-weight: bolder;

        hr {
            border-top: 2px solid #0F0F0F;
            width: 150px;
        }
    }

    /* Contact */
    .contact {
        margin: auto;
    }

    .contact-icon {
        width: 40px;
        height: 40px;
    }

    /* Case Studies */
    .case-study .row:hover {
        transform: scale(1.02);
        transition: 1s;
        background-color: whitesmoke;
    }

    .case-study .row {
        margin-bottom: 5%;
    }

    .case-study img {
        width: 100%;
        height: 100%;
    }

    /* Blog */
    .blog img {
        width: 100%;
        height: 100%;
    }

    .blog .row {
        margin-bottom: 5%;
    }

    .blog-link .row:hover {
        transform: scale(1.02);
        transition: 1s;
        background-color: whitesmoke;
    }

    .experience, .case-studies, .blog {
        margin-top: 10%;
    }

    .main-view {
        display: none;
    }
}

/* Smaller Laptop Screens */
@media only screen and (min-width: 991px) and (max-width: 1280px) {
    /* Template */
    body {
        padding: 2% 4%;
    }

    .left-column {
        position: fixed;
    }
    
    .right-column {
        position: relative;
        left: 50%;
    }

    /* Navigation Bar */
    .navbar {
        margin-top: 5%;
    }

    .navbar hr {
        width: 100px;
        transition: width 1s;
    }

    .nav-link:hover {
        font-weight: bolder;

        hr {
            border-top: 2px solid #0F0F0F;
            width: 150px;
        }
    }

    /* Contact */
    .contact {
        position: fixed;
        bottom: 0;
        padding: 2.5% 0%;
    }

    .contact-icon {
        width: 40px;
        height: 40px;
    }

    .contact-icon:hover {
        opacity: 0.8;
        transform: scale(1.1);
        transition: 1s;
    }

    /* Case Studies */
    .case-study .row:hover {
        transform: scale(1.02);
        transition: 1s;
        background-color: whitesmoke;
    }

    .case-study .row {
        margin-bottom: 5%;
    }

    .case-study img {
        width: 100%;
        height: 100%;
    }

    /* Blog */
    .blog img {
        width: 100%;
        height: 100%;
    }

    .blog .row {
        margin-bottom: 5%;
    }

    .blog-link .row:hover {
        transform: scale(1.02);
        transition: 1s;
        background-color: whitesmoke;
    }

    .experience, .case-studies, .blog {
        margin-top: 10%;
    }

    .mobile-view {
        display: none;
    }
}

/* Regular Laptops and Television Screens */
@media only screen and (min-width: 1281px) {
    /* Template */
    body {
        padding: 5% 10%;
    }

    .left-column {
        position: fixed;
    }
    
    .right-column {
        position: relative;
        left: 50%;
    }

    /* Navigation Bar */
    .navbar {
        margin-top: 5%;
    }

    .navbar hr {
        width: 100px;
        transition: width 1s;
    }

    .nav-link:hover {
        font-weight: bolder;

        hr {
            border-top: 2px solid #0F0F0F;
            width: 150px;
        }
    }

    /* Contact */
    .contact {
        position: fixed;
        bottom: 0;
        padding: 2.5% 0%;
    }

    .contact-icon {
        width: 40px;
        height: 40px;
    }

    .contact-icon:hover {
        opacity: 0.8;
        transform: scale(1.1);
        transition: 1s;
    }

    /* Case Studies */
    .case-study .row:hover {
        transform: scale(1.02);
        transition: 1s;
        background-color: whitesmoke;
    }

    .case-study .row {
        margin-bottom: 5%;
    }

    .case-study img {
        width: 100%;
        height: 100%;
    }

    /* Blog */
    .blog img {
        width: 100%;
        height: 100%;
    }

    .blog .row {
        margin-bottom: 5%;
    }

    .blog-link .row:hover {
        transform: scale(1.02);
        transition: 1s;
        background-color: whitesmoke;
    }

    .experience, .case-studies, .blog {
        margin-top: 10%;
    }

    .mobile-view {
        display: none;
    }
}