/* Smartphone Screens */
@media only screen and (max-width: 640px) {
    /* Layout */
    body {
        padding: 20% 10%;
        background-color: #F5F5F8;
    }

    #experience-mobile, #work-mobile, #posts-mobile {
        margin-top: 20%;
    }

    /* Navigation Bar */
    .navbar {
        background-color: #F5F5F8;
    }

    /* Experience Section */
    #experience-mobile a:hover {
        font-weight: 900;
    }

    /* Work Section */
    #work-mobile .row {
        background-color: white;
    }

    #work-mobile .row, #posts-mobile .row {
        margin-bottom: 5%;
    }

    #work-mobile img, #posts-mobile img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* Disabled Elements */
    .main-view {
        display: none;
    }
}

/* iPad Screens */
@media only screen and (min-width: 641px) and (max-width: 991px) {
    /* Layout */
    body {
        padding: 20% 10%;
        background-color: #F5F5F8;
    }

    #experience-mobile, #work-mobile, #posts-mobile {
        margin-top: 10%;
    }

    /* Navigation Bar */
    .navbar {
        background-color: #F5F5F8;
    }

    /* Experience Section */
    #experience-mobile a:hover {
        font-weight: 900;
    }

    /* Work Section */
    #work-mobile .row {
        background-color: white;
    }

    #work-mobile .row, #posts-mobile .row {
        margin-bottom: 5%;
    }

    #work-mobile img, #posts-mobile img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* Disabled Elements */
    .main-view {
        display: none;
    }
}

/* Smaller Laptop Screens */
@media only screen and (min-width: 991px) and (max-width: 1280px) {
    /* Layout */
    body {
        padding: 5% 10%;
        background-color: #F5F5F8;
    }

    .left-column {
        position: fixed;
    }
    
    .right-column {
        position: relative;
        left: 40%;
    }

    #experience, #work, #posts {
        margin-top: 10%;
    }

    /* Navigation Bar */
    #vertical-navbar {
        margin-top: 10%;
    }

    #vertical-navbar hr {
        width: 100px;
        transition: width 1s;
    }

    #vertical-navbar .nav-link:hover {
        font-family: "San Francisco Bold";

        hr {
            border-top: 2px solid #0F0F0F;
            width: 150px;
        }
    }

    /* E-Contact Section */
    #e-contact a {
        position: fixed;
        bottom: 10%;
    }

    /* Experience Section */
    #experience a:hover {
        font-weight: 900;
    }

    /* Work Section */
    #work .row {
        background-color: white;
    }

    #work .row, #posts .row {
        margin-bottom: 5%;
    }

    #work img, #posts img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* Posts Section */
    .post-link:hover .head {
        text-decoration: underline;
    }

    /* Disabled Elements */
    .mobile-view {
        display: none;
    }
}

/* Regular Laptops and Television Screens */
@media only screen and (min-width: 1281px) {
    /* Layout */
    body {
        padding: 5% 15%;
        background-color: #F5F5F8;
    }

    .left-column {
        position: fixed;
    }
    
    .right-column {
        position: relative;
        left: 40%;
    }

    #experience, #work, #posts {
        margin-top: 10%;
    }

    /* Navigation Bar */
    #vertical-navbar {
        margin-top: 10%;
    }

    #vertical-navbar hr {
        width: 80px;
        transition: width 1s;
    }

    #vertical-navbar .nav-link:hover {
        font-family: "San Francisco Bold";

        hr {
            border-top: 2px solid #0F0F0F;
            width: 150px;
        }
    }

    /* E-Contact Section */
    #e-contact {
        position: fixed;
        bottom: 10%;
    }

    /* Experience Section */
    #experience a:hover {
        font-weight: 900;
    }

    /* Work Section */
    #work .row {
        background-color: white;
    }

    #work .row, #posts .row {
        margin-bottom: 5%;
    }

    #work img, #posts img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* Posts Section */
    .post-link:hover .head {
        text-decoration: underline;
    }

    /* Disabled Elements */
    .mobile-view {
        display: none;
    }
}