<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sachin Ghegade | Sajag Fintech</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.png">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link href="/static/css/sajag.css" rel="stylesheet">
    <link href="/static/css/common.css" rel="stylesheet">
</head>
<body class="montserrat dark">
    <!-- Navigation Bar -->
    <nav class="navbar fixed-top navbar-expand-lg">
        <a class="navbar-brand large" href="../../index.html">
            <span class="large fw-bolder">Sachin</span><span class="large fw-lighter"> Ghegade</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" 
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item my-1">
                    <a class="btn btn-dark fw-bolder" href="../../index.html" role="button">HOME</a>
                </li>
                <li class="nav-item my-1">
                    <a class="btn btn-outline-dark fw-bolder" href="/static/docs/Sachin-Ghegade-Resume.pdf" role="button" download="Sachin-Ghegade-Resume">
                        DOWNLOAD RESUME
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- More Case Studies -->
    <div class="first-suggestion row">
        <p class="fw-bolder small">More Case Studies</p>
        <div class="col-md-4">
            <a href="/static/templates/powertech.html"
                class="text-decoration-none fw-bolder case-study">
                <div class="row py-2 rounded-start rounded-end">
                    <div class="col-md-4">
                        <img class="rounded-start rounded-end" src="/static/images/powertech/powertech-hero.png">
                    </div>
                    <div class="col-md-8">
                        <p class="dark text-truncate">
                            <span class="fw-bolder icon-link icon-link-hover mt-1">
                                Powertech
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                                </svg>
                            </span><br>
                            <span class="text-body-secondary">Assest Performance Management</span>
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/static/templates/eatnjoy.html"
                class="text-decoration-none fw-bolder case-study">
                <div class="row py-2 rounded-start rounded-end">
                    <div class="col-md-4">
                        <img class="rounded-start rounded-end" src="/static/images/eat-n-joy/eat-n-joy-hero.png">
                    </div>
                    <div class="col-md-8">
                        <p class="dark text-truncate">
                            <span class="fw-bolder icon-link icon-link-hover mt-1">
                                Eat n' Joy
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                                </svg>
                            </span><br>
                            <span class="text-body-secondary">Multi-cuisine Dining Chain</span>
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/static/templates/myride.html"
                class="text-decoration-none fw-bolder case-study">
                <div class="row py-2 rounded-start rounded-end">
                    <div class="col-md-4">
                        <img class="rounded-start rounded-end" src="/static/images/my-ride/my-ride-hero.png">
                    </div>
                    <div class="col-md-8">
                        <p class="dark text-truncate">
                            <span class="fw-bolder icon-link icon-link-hover mt-1">
                                My Ride
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                                </svg>
                            </span><br>
                            <span class="text-body-secondary">Trust Your Trip</span>
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <!-- Case Study -->
    <div class="card mb-3">
        <img class="card-img-top" src="/static/images/sajag/sajag.png" alt="Card image cap">
        <div class="card-body">
            <p>
                <span class="large fw-bolder">Sajag Fintech</span><br>
                <span class="medium fw-lighter text-body-secondary">Financial Planning & Wealth Management</span>
            </p>
            <p class="fw-bolder small mt-5">Overview</p>
            <p>
                Sajag Financial Services-Sajag Securities is a well-diversified firm offering a range of financial products and services founded in 1995, 
                a member of the National Stock Exchange and the Bombay Stock Exchange. It is the depository participant of NSDL and CDSL & a Mutual Fund Distributor. 
                Market leader in retail broking with 31k + individual client base
            </p>

            <p class="fw-bolder small mt-5">Key Requirements</p>
            <ul>
                <li>
                    Increase Customer Base
                </li>
                <li>
                    Increase Efficiency
                </li>
                <li>
                    Enable Tracking
                </li>
                <li>
                    Reduce Training Requirements
                </li>
            </ul>

            <p class="fw-bolder small mt-5">Infrastructure & Logistics</p>
            <ul>
                <li>
                    <b>What does the product do?</b><br>
                    Sajag provides Financial Advisory.
                </li>
                <br>

                <li>
                    <b>What do you want it to do?</b><br>
                    Explore and provide the user-centric solution that should fulfill the requirements.
                </li>
                <br>

                <li>
                    <b>Do the business goals support the user goals?</b><br>
                    In the current scenario at a minimum level.
                </li>
                <br>

                <li>
                    <b>Where / When / How / Why /How often do they use it?</b><br>
                    Access frequency is low to high, 24X7.
                </li>
                <br>

                <li>
                    <b>Are there any special needs of the user I should be aware of when designing?
                        <br>(areas of limited connectivity/ less tech-savvy/ language/ desktop-only etc.)</b><br>
                    Mobile application is primary, language is targeted global English as of now.
                </li>
                <br>

                <li>
                    <b>Are there any special needs of the client I should be aware of when designing
                    <br>(Relationship with previous contractors sensitive language/ not easily available etc.)</b><br>
                    No as such.
                </li>
                <br>

                <li>
                    <b>Are there areas where the users get lost right now?</b><br>
                    Branding, theme, overall navigation.
                </li>
                <br>

                <li>
                    <b>Are they able to find what they want when they come here? (Information Architecture)</b><br>
                    Existing IA doesn't achieve the audience target.
                </li>
                <br>

                <li>
                    <b>How would you think a user would describe this product?</b><br>
                    Overall users have rated 2.8 on this app.
                </li>
            </ul>

            <p class="mt-5"><span class="small fw-bolder">Branding</span><br>
                The current brand logo is mixed with multiple items/objects. Red and Gray colors are representing high contrast in their pair. 
                Hence getting visibility disturbance.
            </p>

            <p class="mt-5"><span class="small fw-bolder">Theme</span><br>
                The current color theme is “Red” which has a range of symbolic meanings including war, anger, and danger. 
                When people become angry their faces become flushed with color.
            </p>

            <p class="mt-5"><span class="small fw-bolder">Accessibility</span><br>
                Overall navigation is lengthy and included unnecessary flows. Haven't thought about POUR principals.
            </p>

            <p class="mt-5"><span class="small fw-bolder">Trend</span><br>
                Overall application experience gives an outdated feel.
            </p>

            <div class="photo-gallery">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <img class="my-3" src="../images/sajag/sajag-1.png">
                    </div>
                    <div class="col-md-6">
                        <img class="my-3" src="../images/sajag/sajag-2.png">
                    </div>
                </div>

                <hr>
                <p class="small fw-bolder text-center">Persona</p>
                <img class="my-3" src="../images/sajag/sajag-3.png">

                <hr>
                <p class="small fw-bolder text-center">Sketch</p>
                <img class="my-3" src="../images/sajag/sajag-4.png">

                <hr>
                <p class="small fw-bolder text-center">Information Architecture</p>
                <img class="my-3" src="../images/sajag/sajag-5.png">

                <hr>
                <p class="small fw-bolder text-center">Mock Up</p>
                <img class="my-3" src="../images/sajag/sajag-6.png">
                <img class="my-3" src="../images/sajag/sajag-7.png">
                <img class="my-3" src="../images/sajag/sajag-8.png">
                <img class="my-3" src="../images/sajag/sajag-9.png">
                <img class="my-3" src="../images/sajag/sajag-10.png">
                <img class="my-3" src="../images/sajag/sajag-11.png">
                <img class="my-3" src="../images/sajag/sajag-12.png">
            </div>

            <div class="photo-gallery-mobile">
                <p><em>(<span class="fw-bolder">Note: </span>You can zoom and view the below images in new tab. To open the images in new tab click on them)</em></p>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <a href="../images/sajag/sajag-1.png" target="_blank">
                            <img class="my-3 rounded-end rounded-start" src="../images/sajag/sajag-1.png">
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="../images/sajag/sajag-2.png" target="_blank">
                            <img class="my-3 rounded-end rounded-start" src="../images/sajag/sajag-2.png">
                        </a>
                    </div>
                </div>
                
                <hr>
                <p class="small fw-bolder text-center mt-1">Persona</p>
                <a href="../images/sajag/sajag-3.png" target="_blank">
                    <img class="my-3 rounded-end rounded-start" src="../images/sajag/sajag-3.png">
                </a>
                
                <hr>
                <p class="small fw-bolder text-center mt-1">Sketch</p>
                <a href="../images/sajag/sajag-4.png" target="_blank">
                    <img class="my-3 rounded-end rounded-start" src="../images/sajag/sajag-4.png">
                </a>

                <hr>
                <p class="small fw-bolder text-center mt-1">Information Architecture</p>
                <a href="../images/sajag/sajag-5.png" target="_blank">
                    <img class="my-3 rounded-end rounded-start" src="../images/sajag/sajag-5.png">
                </a>

                <hr>
                <p class="small fw-bolder text-center mt-1">Mock Up</p>
                <a href="../images/sajag/sajag-6.png" target="_blank">
                    <img class="my-3 rounded-end rounded-start" src="../images/sajag/sajag-6.png">
                </a>
                <a href="../images/sajag/sajag-7.png" target="_blank">
                    <img class="my-3 rounded-end rounded-start" src="../images/sajag/sajag-7.png">
                </a>
                <a href="../images/sajag/sajag-8.png" target="_blank">
                    <img class="my-3 rounded-end rounded-start" src="../images/sajag/sajag-8.png">
                </a>
                <a href="../images/sajag/sajag-9.png" target="_blank">
                    <img class="my-3 rounded-end rounded-start" src="../images/sajag/sajag-9.png">
                </a>
                <a href="../images/sajag/sajag-10.png" target="_blank">
                    <img class="my-3 rounded-end rounded-start" src="../images/sajag/sajag-10.png">
                </a>
                <a href="../images/sajag/sajag-11.png" target="_blank">
                    <img class="my-3 rounded-end rounded-start" src="../images/sajag/sajag-11.png">
                </a>
                <a href="../images/sajag/sajag-12.png" target="_blank">
                    <img class="my-3 rounded-end rounded-start" src="../images/sajag/sajag-12.png">
                </a>
            </div>
        </div>
    </div>

    <!-- More Case Studies -->
    <div class="row">
        <p class="fw-bolder small">More Case Studies</p>
        <div class="col-md-4">
            <a href="/static/templates/powertech.html"
                class="text-decoration-none fw-bolder case-study">
                <div class="row py-2 rounded-start rounded-end">
                    <div class="col-md-4">
                        <img class="rounded-start rounded-end" src="/static/images/powertech/powertech-hero.png">
                    </div>
                    <div class="col-md-8">
                        <p class="dark text-truncate">
                            <span class="fw-bolder icon-link icon-link-hover mt-1">
                                Powertech
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                                </svg>
                            </span><br>
                            <span class="text-body-secondary">Assest Performance Management</span>
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/static/templates/eatnjoy.html"
                class="text-decoration-none fw-bolder case-study">
                <div class="row py-2 rounded-start rounded-end">
                    <div class="col-md-4">
                        <img class="rounded-start rounded-end" src="/static/images/eat-n-joy/eat-n-joy-hero.png">
                    </div>
                    <div class="col-md-8">
                        <p class="dark text-truncate">
                            <span class="fw-bolder icon-link icon-link-hover mt-1">
                                Eat n' Joy
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                                </svg>
                            </span><br>
                            <span class="text-body-secondary">Multi-cuisine Dining Chain</span>
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/static/templates/myride.html"
                class="text-decoration-none fw-bolder case-study">
                <div class="row py-2 rounded-start rounded-end">
                    <div class="col-md-4">
                        <img class="rounded-start rounded-end" src="/static/images/my-ride/my-ride-hero.png">
                    </div>
                    <div class="col-md-8">
                        <p class="dark text-truncate">
                            <span class="fw-bolder icon-link icon-link-hover mt-1">
                                My Ride
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                                </svg>
                            </span><br>
                            <span class="text-body-secondary">Trust Your Trip</span>
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>

     <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" 
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" 
        integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
</body>
</html>